# -------------------------
# Godot Engine
# -------------------------
.import/
.godot/

# Crash Mono
mono_crash.*

# -------------------------
# Export / Builds
# -------------------------
.export/
builds/
dist/
export_preset.cfg

# -------------------------
# Binaries
# -------------------------
*.exe
*.exe~
*.pck
*.zip
*.apk
*.aab
*.xcodeproj
*.app
*.dmg
*.so
*.dll
*.dylib
*.wasm
*.html

# -------------------------
# OS
# -------------------------
.DS_STORE
Thumbs.db
desktop.ini
*~

# IDE
.vscode/
.idea/
.*swp
*.swo

# -------------------------
# Logs / Temporary
# -------------------------

# Logs éventuels
*.log